<% include partials/navbar.ejs %>
    <div class="wrapper">
        <div class="main-panel">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg " color-on-scroll="500">
                <div class=" container-fluid  ">
                    <a class="navbar-brand"> Help </a>
                    <button href="" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                        
                        <span class="navbar-toggler-bar burger-lines"></span>
                        <span class="navbar-toggler-bar burger-lines"></span>
                        <span class="navbar-toggler-bar burger-lines"></span>
                    </button>
                </div>
            </nav>
            <!-- End Navbar -->
            <div class="content">
                <h4>This application is a proof of concept AI communication tool that aims to improve on text-to-speech tools. With this application, simply search a keyword or phrase and get relevant results to have voiced for you.</h4>

                <p>Heres a guide to the application:</p>
                <hr>

                <h5>Interface</h5>
                <p>Our application can be used on a vertical or horizontal device. Depending on the size and orientation of your device, your navigation bar will be in one of two locations:

                <ul>
                    <li><b>Horizontal:</b> Your navigation bar will be displayed on the left hand side of the screen.</li>

                    <li><b>Vertical:</b> You will have three lines on the top right corner of the screen. Clicking on these three lines will open the navigation bar.</li>
                </ul>

                For any accessibility needs, there is an accessibility menu accessible on any screen via the circular blue button with a person. This is displayed on every screen in the bottom right hand corner.</p>

                <hr>
                <h5>Accounts and Registration</h5>
                <p>You do not need an account to use our application but an account will grant you access to features such as: bookmarks and search history.

                <br><br>
                To register an account, select the “register” button on the navigation bar. This will bring you to IBM’s AppID registration page which is a secure account registration system. Once you have entered your details, you will be logged into our application. 

                <br><br>
                To log out of your account, simply select the “log out” button on your navigation bar.

                <br><br>
                To edit your account details, select the “account” button on your navigation bar. On this page you will see a button to “change details” or “change password”. These buttons will bring you to the appropriate AppID page.</p>

                <hr>
                <h5>Search</h5>
                <p>To begin using our application, the “search” button on the navigation bar will bring you to the searching page. The search bar allows you to search or speak. You will also be able to see trending topics and bookmarks. 

                <br><br>
                To search for a keyword via typing, enter your keyword and press the search button next to the text input. This will load your results below the search bar. When you wish to voice one of the results, simply press the result and it will be voiced for you with text-to-speech.

                <br><br>
                To search for a bookmarked keyword or trending topic, simply select the desired keyword or topic by pressing it. It will search the term for you.

                <br><br>
                To voice a sentence via typing, enter the desired text into the text input field and press the speak button next the the text input. This will voice what you have typed using text-to-speech.

                <br><br>
                To voice a bookmarked sentence, simply select the desired sentence from the bookmark list and it will be voiced for you.</p>

                <hr>
                <h5>Search History</h5>
                <p>When registered, our application will store your search history. You can access this via the “history” button on the navigation bar. This allows you to quickly access content you have seen before. The search history is displayed in order of date, and can be cleared using the “clear history” button.

                <br><br>
                If you wish to see the results from a history item, select the desired item and the list of results will appear below it. From here, selecting any result will voice it.</p>

                <hr>
                <h5>Bookmarks</h5>
                <p>When registered, you may save bookmarks to make your conversing more efficient. 

                <br><br>
                There are two types of bookmarks, keywords and sentences. The difference is clarified below.

                <ul>
                    <li><b>Keywords:</b> These are terms you wish to search frequently.</li>
                    <li><b>Sentences:</b> These are text that wish to voice frequently without a search.</li>
                </ul>

                On the bookmarks page, (“bookmark” on the navigation bar), you have two separate sections for each type of bookmark. Both sections work the same.

                <br><br>
                To add a bookmark, select the “add” button in the appropriate section. This will produce a popup where you can type the bookmarks content. From here you can choose to save the bookmark or cancel.

                <br><br>
                To edit bookmark, select the “edit” button in the appropriate section. This will allow you edit bookmarks by selecting the one you wish to change (this will again produce a popup). 

                <br><br>
                To delete a bookmark, select the “edit” button in the appropriate section. This will produce a tick-box next to each bookmark in that section. Tick the bookmarks you wish to delete, then press the “delete” button. Confirm your deletion and the selected bookmarks will be removed.</p>

                <hr>
                <h5>Thank you for trying our application!

                <br><br>
                If you have any questions or concerns please email us at: ucabklh@ucl.ac.uk</h5>
            </div>
        </div>
    </div>
<% include partials/footer.ejs %>
