<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="stylesheets/style.css">
</head>

<body>
<table>
    <tr>
        <td style= "width:30%;">
            <img class = "newappIcon" src="images/newapp-icon.png">
        </td>
        <td>
            <h1 id="message">Hello World!</h1>
            <p class='description'></p> Thanks for creating a <span class = "blue">NodeJS Starter Application</span>.
            <form action="/add_name" method="POST">
                <div class="form-group">
                    <input type="text" name="name" placeholder="username" class="form-control" >
                    <input type="submit" name="submit" value="submit" class="btn btn-default">
                </div>
            </form>
            <% users.forEach(function (user) { %>
                <li><%=user%></li>
            <%})%>

        </td>
    </tr>
</table>
</body>

</html>
