<% include partials/navbar.ejs %>

<script src="../assets/js/search.js"></script>

<script>
      if('serviceWorker' in navigator) {
        navigator.serviceWorker.register('/sw.js', { scope: '/' })
          .then(function(registration) {
                console.log('Service Worker Registered');
          });

        navigator.serviceWorker.ready.then(function(registration) {
           console.log('Service Worker Ready');
        });
      }
    </script>
    <div class="wrapper">
        <div class="main-panel">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg " color-on-scroll="500">
                <div class=" container-fluid  ">
                    <a class="navbar-brand"> Search </a>
                    <button href="" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-bar burger-lines"></span>
                        <span class="navbar-toggler-bar burger-lines"></span>
                        <span class="navbar-toggler-bar burger-lines"></span>
                    </button>
                </div>
            </nav>
            <!-- End Navbar -->

            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">

                            <div class="card">    
                                <div class="card-body" id="searchLarge">
                                    <div class="input-group mb-3">
                                            <input type="text" id = "searchbar" class="form-control" placeholder="Enter phrase to search or speak..." style="border-color:#4091e2; color:#000000;">

                                            <div class="input-group-append" id="button-addon4">
                                                    <button id="search_btn" class="btn btn-outline-info" type="submit" style="background-color:#4091e2; border-color:#4091e2;color:#ffffff;" onclick="showResults(document.getElementById('searchbar').value); return false;">
                                                            <i class="fa fa-search" style="color: #FFFFFF;"></i>  Search</button>
                                                    <button id="speak_btn" class="btn btn-outline-info" type="submit" style="background-color:#4091e2; border-color:#4091e2;color:#ffffff;">
                                                            <i class="fa fa-microphone" style="color: #FFFFFF;"></i> Speak</button>
                                            </div>
                                    </div>
                                </div>
                                <div class="card-body" id="searchSmall" >
                                    <div class="input-group mb-3">
                                            <input type="text" id = "searchbar" class="form-control" placeholder="Enter phrase to search or speak..." style="border-color:#4091e2; color:#000000;">
                                    </div>
                                    <div class="input-group-append" id="button-addon4">
                                            <button id="search_btn" class="btn btn-outline-info" type="submit" style="background-color:#4091e2; border-color:#4091e2;color:#ffffff;margin:auto;" onclick="showResults(document.getElementById('searchbar').value); return false;">
                                                    <i class="fa fa-search" style="color: #FFFFFF;"></i>  Search</button>
                                            <button id="speak_btn" class="btn btn-outline-info" type="submit" style="background-color:#4091e2; border-color:#4091e2;color:#ffffff;margin:auto;">
                                                    <i class="fa fa-microphone" style="color: #FFFFFF;"></i> Speak</button>
                                    </div>
                                </div>

                                <div class="card-footer"> <!-- make horizontal scroll??-->
                                    <hr>
                                    <p class="card-category">Trending topics:</p>
                                    <div class="tags" id="trending topics">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <style>
                        .loader {
                          position: relative;
                          left:45%;
                          border: 10px solid #f3f3f3;
                          border-radius: 50%;
                          border-top: 5px solid #3498db;
                          width: 80px;
                          height: 80px;
                          -webkit-animation: spin 2s linear infinite; /* Safari */
                          animation: spin 2s linear infinite;
                        }

                        /* Safari */
                        @-webkit-keyframes spin {
                          0% { -webkit-transform: rotate(0deg); }
                          100% { -webkit-transform: rotate(360deg); }
                        }

                        @keyframes spin {
                          0% { transform: rotate(0deg); }
                          100% { transform: rotate(360deg); }
                        }
                    </style>

                    <div class="row" id="searchResults" style="display:none;">
                        <div class="col-md-12">
                            <div class="card ">
                                <div class="card-header ">
                                    <h4 class="card-title" id="card-title"></h4>
                                    <button type="submit" class="closeButton" onclick="closeResults();return false;">
                                        <i class="fa fa-remove" style="color: #FFFFFF;"></i>
                                    </button>
                                </div>
                                <div class="card-body ">
                                    <div class="card-body table-full-idth table-responsive">
                                        <div class="pre-scrollable" style="min-width: 100%; height: 100%;">
                                        <div class="row" id="loader_container">
                                            <div class="loader"></div>
                                        </div>
                                          <div class="list-group" id="search_result_li">
                                          </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <div class="stats" href="bookmarks">
                                        <i class="fa fa-question-circle-o"></i> Select a result to have it voiced for you.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% if(!currentUser) { %>
                    <div class="row" id="registerNotify">
                        <div class="col-md-6" style="margin: 0 auto;">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title" style="text-align: center;"><b>Register an account for additional features</b></h4>
                                </div>
                                <div class="card-body">
                                    <div class="card-body table-full-width table-responsive">
                                        <p>Registering an account gives you access to...<br><br>
                                            <b>Bookmarks:</b> The ability to save a search term or a sentence for quick access<br>
                                            <b>History:</b> A full list of all previous searches and voiced items
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% } %>
                    <% if(currentUser) { %>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="card ">
                                    <div class="card-header ">
                                        <h4 class="card-title">Bookmarked Keywords</h4>
                                    </div>
                                    <div class="card-body ">
                                        <div class="card-body table-full-width table-responsive">
                                            <div class="pre-scrollable">
                                              <div id="list-searches1" class="list-group">
                                            
                                              </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <div class="stats" href="bookmarks">
                                            <i class="fa fa-question-circle-o"></i> Go to the bookmarks page to add or edit.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card ">
                                    <div class="card-header ">
                                        <h4 class="card-title">Bookmarked Sentences</h4>
                                    </div>
                                    <div class="card-body ">
                                        <div class="card-body table-full-width table-responsive">
                                            <div class="pre-scrollable" style="min-width: 100%; height: 100%;">
                                              <div id="list-sentences1" class="list-group">
                                           
                                              </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <div class="stats" href="bookmarks">
                                            <i class="fa fa-question-circle-o"></i> Go to the bookmarks page to add or edit.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% } %>

                </div>
            </div>
        </div>
    </div>

<% include partials/footer.ejs %>