<% include partials/navbar.ejs %>

    <div class="wrapper">
        <div class="main-panel">
            <p id="hiddendb" style="display:none"></p>
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg " color-on-scroll="500">
                <div class=" container-fluid  ">
                    <a class="navbar-brand" > Search History </a>
                    <button href="" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                        
                        <span class="navbar-toggler-bar burger-lines"></span>
                        <span class="navbar-toggler-bar burger-lines"></span>
                        <span class="navbar-toggler-bar burger-lines"></span>
                    </button>
                </div>
            </nav>
            <!-- End Navbar -->
            
            <div class="content">
                <div class="container-fluid">
                    <div class="card ">    
                        <div class="card-header ">
                            <!--<h4 class="card-title">Search</h4>-->
                        </div>
                        
                        <div class="card-body" id="searchLarge">
                            <div class="input-group mb-3">
                                    <input type="text" id = "searchbar2" class="form-control" placeholder="Search within history..." style="border-color:#4091e2; color:#000000;">

                                    <div class="input-group-append" id="button-addon4">
                                            <button class="btn btn-outline-info" type="submit" style="background-color:#4091e2; border-color:#4091e2;color:#ffffff;" onclick="show_history(document.getElementById('searchbar2').value)">
                                                    <i class="fa fa-search" style="color: #FFFFFF;"></i>  Search</button>
                                            <button class="btn btn-outline-info" type="submit" style="background-color:#4091e2; border-color:#4091e2;color:#ffffff;" id="datepicker">
                                                        <i class="fa fa-calendar" style="color: #FFFFFF;"></i>  Date </button>
                                    </div>
                            </div>
                        </div>
                        <div class="card-body" id="searchSmall">
                            <div class="input-group mb-3">
                                    <input type="text" id = "searchbar1" class="form-control" placeholder="Search within history..." style="border-color:#4091e2; color:#000000;">
                            </div>
                            <div class="input-group-append" id="button-addon4">
                                            <button class="btn btn-outline-info" type="submit" style="background-color:#4091e2; border-color:#4091e2;color:#ffffff;margin:auto;" onclick="show_history(document.getElementById('searchbar1').value)">
                                                    <i class="fa fa-search" style="color: #FFFFFF;"></i>  Search</button>
                                            <button class="btn btn-outline-info" type="submit" style="background-color:#4091e2; border-color:#4091e2;color:#ffffff;margin:auto;" id="datepicker1">
                                                        <i class="fa fa-calendar" style="color: #FFFFFF;"></i>  Date </button>
                            </div>
                        </div>
                        <div style="padding-left: 15px; padding-right: 15px">
                            <hr>
                              <div class="card card-plain">
                                <div class="card-header ">
                                    <h4 class="card-title" ><B id = "showdate">History</B>
                                    <button style="float: right;" type="button" id="clearButton"  class="btn btn-danger btn-fill">Clear History</button></h4>
                                    <p class="card-category">Select a previous search to see its results</p>
                                </div>
                                  
                                <div style="padding: 15px">
                                    <div class="mdui-panels" mdui-panel="{accordion: true}" id="history_list"></div>
                                </div>
                            </div>
                        </div>       
                    </div>
                </div>
            </div>
        </div>
    </div>
        <script>
            var name = '<%=currentUser.email%>'.replace('@','');
            var dbName = name.replace(/\./,'');
            document.getElementById("hiddendb").innerHTML=dbName;
        </script>
<% include partials/footer.ejs %>
<script src="../assets/js/search_history.js"></script>