<ion-view title="Search History" id="page3">
  <ion-content padding="true" class="has-header">
    <form id="searchHistory-form4" class="list">
      <label class="item item-input" id="searchHistory-search3">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="">
      </label>
    </form>
    <div id="searchHistory-button-bar3" class="button-bar">
      <button id="searchHistory-button16" class="button button-positive button-small button-block button-outline">Newest</button>
      <button id="searchHistory-button17" class="button button-positive button-small button-block button-outline">Most popular</button>
    </div>
    <ion-list id="searchHistory-list2">
      <ion-item id="searchHistory-list-item16">Item 1
        <span class="item-note">10-01-2019</span>
      </ion-item>
      <ion-item id="searchHistory-list-item17">Item 2
        <span class="item-note">10-01-2019</span>
      </ion-item>
      <ion-item id="searchHistory-list-item18">Item 3
        <span class="item-note">10-01-2019</span>
      </ion-item>
    </ion-list>
    <ion-list id="searchHistory-list3">
      <ion-item id="searchHistory-list-item19">Item 4
        <span class="item-note">10-01-2019</span>
      </ion-item>
      <ion-item id="searchHistory-list-item20">Item 5
        <span class="item-note">10-01-2019</span>
      </ion-item>
      <ion-item id="searchHistory-list-item21">Item 6
        <span class="item-note">10-01-2019</span>
      </ion-item>
      <ion-item id="searchHistory-list-item22">Item 6
        <span class="item-note">10-01-2019</span>
      </ion-item>
      <ion-item id="searchHistory-list-item23">Item 6
        <span class="item-note">10-01-2019</span>
      </ion-item>
      <ion-item id="searchHistory-list-item24">Item 6
        <span class="item-note">10-01-2019</span>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>